:root{
    --clr-dark: #0f172a;
    --clr-light: #f1f5f9;
    --clr-accent: #e11d48;
    --scroll-bar-color: #c5c5c5;
    --scroll-bar-bg-color: #f6f6f6;
}

html {
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: 'Raleway', sans-serif;
    color: var(--clr-dark);
    height: 100vh;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    scroll-snap-type: y proximity;
}
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    scroll-snap-align: start;
    transform: translatez(-10px) scale(2);
}
.foreground {
    transform: translatez(-5px) scale(1.5);
}

.background,
.foreground {
    position: absolute;
    height: 100%;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}

.section {
    scroll-snap-align: start;
    background-image: url(imgs/bg2.jpg);
    background-position: center;
    background-attachment:fixed;
    background-size:cover;
    z-index: -1;
    min-height: 100%;
    height: auto;
    width: 100vw;
    position:absolute;
    font-size: 1.5rem;
    color: white;
    padding-bottom: 100px;
    box-shadow: 0 0 100px black;
}


.title {
    font-size: 7rem;
    color: white;
    text-shadow: 0 0 5px black;
    transform: translateZ(-5px) scale(1.5);
    z-index: 2;
}

.wrap{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 80px;
}
  
.item-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.item {
    border-radius: 1rem;
    border: 1px solid white;
    backdrop-filter: blur(5px);
    transition: all .1s linear; 
    position: relative;
    width: 200px;
    height: 200px;
    max-height: 550px;
    margin: 0.2em;
    color: var(--clr-light);
    text-align: center;
    flex-grow: 1;
}

.item-container:hover .item:hover{
    box-shadow: 0px 0px 15px 1px rgba(255,255,255,0.2);
    cursor: pointer;
    backdrop-filter: blur(0px);
}
.item-container:hover .item:active{
    box-shadow: 0px 0px 20px 1px rgba(255,255,255,0.4);
}

.item-title {
    transition: all .1s ease-in-out; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: black;
}

h2{
    font-weight: 400;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    width: 100%;
}
  
.break {
    flex-basis: 100%;
    height: 0;  
}
  
.caption {
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0.2));
    text-align: left;
    text-shadow: 0 0 5px black;
    text-indent: 0.5em;
    font-weight: 350;
    height:auto;
    overflow: hidden;
    transition: all .1s ease-out;
    border-radius: 0 0 1rem 1rem ;
}

.desc {
    text-indent: 0;
    margin: o auto;
    font-size: 1.5rem;
    padding: 8px;
    bottom:8px;
}


.navbar {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.1) );
    border-bottom: 1px solid rgba(0,0,0,0.2)
}

.nav-menu {
    flex:1;
    margin: 0 auto;
    padding:0;
    text-align: center;
}

.nav-menu:hover li a{
    font-weight: 500;
    transform: scale(1.05);
    transition: all .2s ease-in-out; 
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    width: 100%;
    display: block;
    text-decoration: none;
    font-size: 24px;
    text-shadow: 0 0 5px black;
    color: white;
} 
