:root{
    --clr-dark: #0f172a;
    --clr-light: #f1f5f9;
    --clr-accent: #e11d48;
  }
  
  body{
    transition: all .5s;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: 'Raleway', sans-serif;
    color: var(--clr-dark);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .wrap{
    width: 80%;
    height: 700px;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  
  .item {
    aspect-ratio: 1;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0.2em;
    color: var(--clr-light);
    text-align: center;
    flex-grow: 1;
  }
  
  .container:hover .item:hover {
    transform:scale(1.01);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
    opacity: 1;
    cursor: pointer;
  }
  
  .container:hover .item:active {
    transform:scale(1);
  }
  
  .item-title {
    width: 100%;
    text-align: center;
    height: 100px;
    color: black;
  }
  
  .break {
    flex-basis: 100%;
    height: 0;  
  }
  
  .caption {
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0));
    text-align: left;
    text-indent: 0.5em;
  }

.caption:hover {
    transition: all .5s ease-in;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.1));
    height:80%;
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  